*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: beige;
    width: 80%;
    margin: 0 auto;

}

.main{
    height: 95vh;
}


.navbar{
    display: flex;
    flex-direction: row;
    background-color : #333333;  /*#3e2f23;*/
    justify-content: space-between;
    /* border: 1px solid black; */
    color: #ffffff;
    height: 50px;
    
}

.logo{
    /* border: 2px solid red; */
    margin-left: 30px;
    padding-top: 10px;
    
}
.logo-link{
    text-decoration: none;
    color: inherit;
}

.logo-link.active{

    color:burlywood
}

.additionalnavtitles{

    display: flex;    
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
    /* padding-top: 15px; */
    height: 100%;

}

.title{
    padding-right: 50px;
}

.Banner1{
    /* border: 1px solid red; */
    height:500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.Banner1 img{
    height: 500px;

}


.Banner2{
    height: 300px;
    display: flex;
    flex-direction: row;
    
}

.WFAQs {
    width: 50%;
    /* border: 1px solid black; */
}
.ThreeWs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50%;

}
.why{
    /* border: 1px solid red; */
}


.workout{
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction:row;
    /* align-items: center; */
    justify-content: space-between;
}

.workout-list{
    width: 50%;
}
.workout-list ul{
    list-style-type: none;
    /* border: 1px solid black; */
    height: 100%;
    
}
.testimony{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

hr{
    width: 5px;
    background-color: #333333;
}

.banner3{
    display: flex;
    flex-direction: row;
    height: 200px;
    /* border: 1px solid green; */
    justify-content: space-between;
    align-items: center;
}

.Healthfood{
    width: 33%;
    height: 75%;
    text-align: center;
    /* border: 1px solid black; */
    padding-top: 40px;    
}


.Calendar{
    width: 33%;
    text-align: center;
    /* border: 1px solid black; */
}

.contactform{
    width: 33%;
}

.copyright{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color : #333333;  
    color: #ffffff
    ;
    

}

/* .choose{
    display: flex;
    justify-content: flex-end;
    
    
} */

.choose button{
    height: 40px;
    background-color: grey;
    color: white; 
    opacity: 0.6;
}

.btn{
    margin: 10px;
    margin-left: 0px;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid white;
}


/* .btn:active, .btn:focus, .btn:hover{
    background-color:#333333;
    color: #ffffff;
    opacity: 1;
} */

.btn.selected{
    background-color:#333333;
    color:burlywood;
    opacity: 1;
}

.maincontainer{
    /* border: 1px solid red; */
    min-height: 90vh;
    display: flex;
    align-items: center;
}


.profilepic{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    align-items: center;
    width: 100%;

}

.pic{
    /* width: 50%; */
    /* border: 1px solid red; */
    
}

.maincontainer img{
    height: 600px;

    /* border-radius: 50%; */
}

.desc{
    width: 40%;
    /* border: 1px solid red; */
    height: 500px;
    display: flex;

    align-items: center;
}

.desc p{
    font-size: 1.5rem;
    font-style: italic;
}

.contactform{
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    height: 100%;
}

.frm{
    height:40px;
    margin-bottom: 10px;
    border-radius: 10px;
    /* outline: none; */
    border: none;
    background-color: grey;
    color: #ffffff;
}

.frm::placeholder{
    color: #ffffff;
    
}

.sub-btn{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    /* border: 1px solid red; */
    cursor: pointer;
}

.submit-wrap{
    display: flex;
    justify-content: flex-end;
}