*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: beige;
    width: 80%;
    margin: 0 auto;
}


.navbar{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    /* border: 1px solid black; */
}

.logo{
    /* border: 2px solid red; */
    margin-left: 30px;
    padding-top: 25px;
}

.additionalnavtitles{

    display: flex;    
    flex-direction: row;
    margin-right: 30px;
    padding-top: 18px;
}

.title{
    padding-right: 50px;
}

.Banner1{
    /* border: 1px solid red; */
    height:500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.Banner1 img{
    height: 500px;

}


.Banner2{
    height: 300px;
    display: flex;
    flex-direction: row;
    
}

.WFAQs {
    width: 50%;
    /* border: 1px solid black; */
}
.ThreeWs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50%;

}
.why{
    /* border: 1px solid red; */
}


.workout{
    width: 50%;
    border: 1px solid red;
}

.banner3{
    display: flex;
    flex-direction: row;
    height: 200px;
    /* border: 1px solid green; */
    justify-content: space-between;
    align-items: center;
}

.Healthfood{
    width: 33%;
    height: 75%;
    text-align: center;
    /* border: 1px solid black; */
    padding-top: 40px;    
}


.Calendar{
    width: 33%;
    text-align: center;
    /* border: 1px solid black; */
}

.contactform{
    width: 33%;
}

.copyright{
    text-align: center;
}